# **Pandas Tips and Tricks Lec 2**

## 06 - Reverse Row Order

In [ ]:
import pandas as pd 
import seaborn as sns 

df = sns.load_dataset("iris")
df.head()

In [ ]:
# reverse row order
df.loc[::-1].head()

In [ ]:
# in reverse row order but index reset it start form 0
df.loc[::-1].reset_index(drop=True).head()

## 07 - Reverse Column Order

In [ ]:
# reverse column order
df.loc[:, ::-1].head() # first colon ( : ) represent row and after comma represent column

## 08 - Select columns by its datatypes

In [ ]:
df_1 = sns.load_dataset('titanic')
df_1.head()

# display the datatypes of all ccolumns 
df_1.dtypes

In [ ]:
# only select those have numeric datatype
df_1.select_dtypes(include='number').head()

In [ ]:
# select columns of multiples datatypes
df_1.select_dtypes(include=('object', 'number')).head()

In [ ]:
# exclude the columns from the datasets using its datatypes
df_1.select_dtypes(exclude=('number')).head()

## 09 - Convert strings to numeric

In [ ]:
df_2 = pd.DataFrame({'Col_A' : ['1', '2', '3.3', '4.2', '3.1'], 
                     'Col_B' : ['2.3', '3.1', '5', '2.3', '2']})
df_2.dtypes

In [ ]:
# convert string to numeric 
df_2.astype({'Col_A' : 'float64', 'Col_B' : 'float64'}).dtypes

In [ ]:
# another way to convert numeric 
df_2['Col_A'] = pd.to_numeric(df_2['Col_A'], errors = 'coerce')
df_2['Col_B'] = pd.to_numeric(df_2['Col_B'], errors = 'coerce')
print(df_2)
df_2.dtypes

## 10 - Reduce Datasets Size

In [ ]:
df_1 = sns.load_dataset('titanic')
df_1.shape # return the number of columns and rows 
df_1.info # metadata about datasets

In [ ]:
# take random sample data from the whole dataset
df_1.sample(frac=0.1).head() # 0.1 part of the dataset like 10% of dataset, for half dataset use frac=0.5