# **Pandas Tips and Tricks Lec 3**

## 11 - Copy data from clipboard

In [ ]:
import pandas as pd 
import seaborn as sns 

df = sns.load_dataset('titanic')
df.to_excel('khasti.xlsx') # save the titanic dataset in khasti.xlsx file

In [ ]:
# now I copy the some of data from the khasti excel file by ctrl + c and this data is store on clipboard
# read the data from clipboard in python 
df = pd.read_clipboard()
df

## 12 - Split the dataframe into 2 subsets

In [ ]:
import pandas as pd  
import seaborn as sns

df = sns.load_dataset('titanic')
df.shape # give the rows and columns
len(df) # gives the total number of rows in dataset

In [ ]:
from random import random

# split the dataframe into 2 subsets 
khasti_1 = df.sample(frac=0.5, random_state=1)
khasti_1

In [ ]:
khasti_2 = df.drop(khasti_1.index) # exclude the index of the khasti_1 
khasti_2

In [ ]:
print(len(df)) # no of total rows in main dataframe 
print(len(khasti_1) + len(khasti_2)) # no of rows of total rows of khasti_1 and khasti_2

## 13 - Join 2 dataframes

In [ ]:
# join 2 dataframes into single dataframes using concat instead of append bcz append is not working now
df_1 = pd.concat([khasti_1, khasti_2])
df_1.shape

## 14 - Filtering the Datasets

In [ ]:
df.head() # using the titanic dataset

In [ ]:
# check the how many values of genders in the sex column
df.sex.unique() # 2 values in sex column like male and female

In [ ]:
# filter the female data from the datasets
df[(df.sex == 'female')]

In [ ]:
# filter data by using mutiple values of different column using with the help of logical operater
df[(df.sex == 'female') & (df.embark_town == 'Cherbourg')]

In [ ]:
# another way of filtering in the dataset
df[df.embark_town.isin(['Cherbourg', 'Queenstown'])]

In [ ]:
# filtering using comparison operaters
df[df.age > 30].head() 
df[df.age < 30].shape

## 15 -  Filtering by large categories

In [ ]:
# filter by large categories
print(df.embark_town.value_counts())
print(df.who.value_counts())
print(df.age.value_counts())
print(df.alive.value_counts())

In [ ]:
counts = df.age.value_counts()
print(counts)
print(counts.nlargest(5)) # first largest value u want 
print(counts.nlargest(5).index) # index of largest value if u want

In [ ]:
df[df.age.isin(counts.nlargest(1).index)].head()