# **Pandas Tips and Tricks Lec 4**

## 16 - Splitting a string into multiple columns

In [ ]:
import pandas as pd  

df = pd.DataFrame({'Name' : ['Ishfaq Khan', 'Sajjad Khan', 'Zahid Marwat', 'Farhan Khan'],
                   'Location' : ['Trag, Pakistan', 'Lakki Marwat, Pakistan', 'Lakki Marwat, Pakistan', 'Isa-Khel, Pakistan']})
df

In [ ]:
# Adding those splitted columns into dataset
df[['First_Name', 'Last_Name']] = df.Name.str.split(' ', expand=True) # split column into 2 new columns
df

In [ ]:
# Adding those splitted columns into dataset
df[['City', 'Country']] = df.Location.str.split(',', expand=True) # split column into 2 new columns
df

In [ ]:
# Refine Data Manipulation
df = df[['First_Name', 'Last_Name', 'City', 'Country']]
df

## 17 - Aggregate by Multiple Groups/Functions

In [ ]:
import pandas as pd  
import seaborn as sns 

df = sns.load_dataset('titanic')
df.head()

In [ ]:
# groupby using one columns
df.groupby('who').count()

In [ ]:
# len function used by groupby
len(df.groupby('who'))

In [ ]:
# using groupby with mulitple columns 
df.groupby(['sex', 'who', 'embark_town']).count()

## 18 - Select Specific Columns and Rows

In [ ]:
# use df dataframe for selecting specific columns and rows
df.head()

In [ ]:
# select specific columns
df[['survived', 'fare', 'class', 'who']]

In [ ]:
# summary of datasets
df.describe()

In [ ]:
# select the rows in the summary of datasets
df.describe().loc[['min', 'max', '25%']]

In [ ]:
# another way to select the rows and columns
df.describe().loc['min':'max']
df.describe().loc['min':'max' , ['survived', 'age']]
df.describe().loc['min':'max' , 'survived':'age']

## 19 - Reshape the Multiindex Series

In [ ]:
# for understanding the concept of multiindex series using df dataset
df.head()

In [ ]:
# check the mean of any columns
df.survived.mean()

In [ ]:
# check the mean of groupby columns 
df.groupby('sex').survived.mean()

In [ ]:
# check the mean of groupby columns with multiple different values
df.groupby(['sex', 'pclass']).survived.mean() # output like stack 
df.groupby(['sex', 'pclass']).survived.mean().unstack() # output like unstack

## 20 - Continous Data to Categorical Data

In [ ]:
df.head()

In [ ]:
# select age columns 
df.age.head()

# creating bins 
pd.cut(df.age, bins=[0, 18, 25, 99], labels=['child', 'young_adult', 'adult']).head()

# add this bins based columns to orginal dataset
df['Cat_age'] = pd.cut(df.age, bins=[0, 18, 25, 99], labels=['child', 'young_adult', 'adult'])
df.head()

## 21 - Convert one set of values into another

In [ ]:
df.sex.head()

In [ ]:
# convert values into another type of values
df['sex_num'] = df.sex.map({'male': 0, 'female': 1})
df.head()

In [ ]:
# another way to convert values into another types of values
df['embarked_num'] = df.embarked.factorize()[0]
df.head(15)

## 22 - Transpose a wide dataframe

In [ ]:
import pandas as pd 
import numpy as np  

df = pd.DataFrame(np.random.rand(200,25), columns=list('abcdefghijklmnopqrstuvwxy'))
df.head()

In [ ]:
# create a transpose a dataset 
df.head().T
df.describe().T
df.describe().T.to_csv('dataset_describe_transpose.csv')

# 23 - Reshapping the dataframe

In [ ]:
import pandas as pd  

fasla = pd.DataFrame([[12345, 100, 200, 300], [34567, 400, 500, 600], [67890, 700, 800, 900]],
                     columns=['zip', 'factory', 'warehouse', 'company'])
fasla.head()

In [ ]:
# draw graph of normal dataframe 
sns.barplot(x='zip', y='factory', data=fasla)

In [ ]:
# reshape the dataframe 
fasla_long = fasla.melt(id_vars='zip', var_name='location_type', value_name='Distance')

# after reshapping the dataframe into long
fasla_long.head()

In [ ]:
# after reshapping the dataframe into long, the graph of this dataframe 
sns.barplot(x='zip', y='Distance', hue='location_type', data=fasla_long)